<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/global.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>
<body>
    <nav>
        <div class="logo-container">
          <div class="logo"><h1>Cellar Direct</h1></div>
          <div class="logo-name"><p>&#8621; Best Wine To Purchase &#8621;</p></div>
        </div>
        <div class="nav-buttons">
          <div class="btn">
            <a class="link" href="/"><button><span>&#8621;</span>home</button></a>
          </div>
        </div>
    </nav>